[Unit]
Description=Ceph Monitor
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker pull corfr/ceph-conf
ExecStartPre=-/usr/bin/docker rm ceph-conf
ExecStart=/usr/bin/docker run --name ceph-conf -e CEPH_CONF_URL=${CEPH_CONF_URL} corfr/ceph-conf

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

